# See: http://bit.ly/azure-storage-sas-key
AZURE_STORAGE_ACCESS_KEY=
# See: http://bit.ly/azure-storage-account
AZURE_STORAGE_ACCOUNT=
# See: http://bit.ly/azure-storage-cs
AZURE_STORAGE_CONNECTION_STRING=